﻿
@model IEnumerable<Online_book_shopping.Models.Book>

<table class="table table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ImgURL)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.OverView)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ImgURL" height="100" />
            </td>
            <td>
                @Html.Raw(Helper.CutTo(item.Title, 300))
            </td>
            <td>
                @Html.Raw(item.Price.ToString())
            </td>
            <td>
                @Html.Raw(item.Author.ToString())
            </td>
            @*<td>
                @Html.Raw(item.Publisher.ToString())
            </td>*@
            <td>
                @Html.Raw(item.Stock.ToString())
            </td>
            <td>
                @Html.Raw(item.Category.ToString())
            </td>
            <td>
                @Html.Raw(Helper.CutTo(item.OverView, 150))
                <br />
            </td>

            <td>
                <label class="checkbox-inline">
                    <input onchange="ConstructBooksString()" type="checkbox" class="check-book" id="inlineCheckbox2" value="@item.BookID"> Choose
                </label>
            </td>
        </tr>
    }

</table>