﻿@model Online_book_shopping.Models.Discount

@{
    ViewBag.Title = "Create";
}
<style>
    input.form_datetime.form-control {
    background-color: white;
    }

</style>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script type="text/javascript">

    $(document).ready(function () {
        $("#chosenStrategy").change();

        $(".form_datetime").datepicker({
        });

        $("#BookIDs").attr("value", "*")
    });

    function LoadStraPartial() {
        var stra = '';
        if ($("#chosenStrategy").val() == "RegistrationTimeStrategy")
        {
            stra = "RegistrationTimeStrategy";
        }
        if ($("#chosenStrategy").val() == "ShoppingHistoryStrategy") {
            stra = "ShoppingHistoryStrategy";
        }
        if ($("#chosenStrategy").val() == "LocationStrategy") {
            stra = "LocationStrategy";
        }

        $("#stra-partial").load("/Discounts/GetStrategyPartial", { type: stra },
            function (responseTxt, statusTxt, xhr) {
            //alert(responseTxt);
        });
    }

    function ConstructBooksString()
    {
        var books = "*";
        $('input.check-book:checked').each(function () {
            books += String($(this).val());
            books += "*";
            //console.log($(this).val())
        });
        $("#BookIDs").attr("value", books)
    }
</script> 
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Discount</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input size="34" type="text" @*value="10/06/2016"*@ id="StartTime" 
                   data-val="true" data-val-required="The StartTime field is required."
                       name="StartTime" readonly class="form_datetime  form-control" required>

                @*@Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input size="34" type="text" @*value="10/06/2016"*@ id="EndTime" 
                   data-val="true" data-val-required="The StartTime field is required."
                       name="EndTime" readonly class="form_datetime  form-control" required>
                @*@Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiscountRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Strategies</label>
            <div class="col-md-10">
                <select class="form-control" id="chosenStrategy" onchange="LoadStraPartial()">
                    <option value="RegistrationTimeStrategy">RegistrationTimeStrategy</option>
                    <option value="ShoppingHistoryStrategy">ShoppingHistoryStrategy</option>
                    <option value="LocationStrategy">LocationStrategy</option>
                </select>
            </div>
        </div>
        <div class="form-group" id="stra-partial">
            
        </div>

        <div class="form-group" >
            <h4>AllBooks</h4>
            <input id="BookIDs" name="BookIDs" type="hidden" value="*2*3*">
            <div class="form-group" style="overflow-y: scroll; height:400px;" id="all-book-partial">
                @Html.Action("AddingBooks")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
