﻿@model IEnumerable<Online_book_shopping.Models.Discount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Strategy.DiscountStrategyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountRate)
        </th>
        <th>
            Number of Books
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Strategy.DiscountStrategyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountRate)
            (%)
        </td>
        <td>
            @Html.Raw(item.Books.Count())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiscountID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.DiscountID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.DiscountID })
        </td>
    </tr>
}

</table>
