﻿@model Online_book_shopping.Models.LocationStrategy

<div class="form-group">
    <h4>PostCode</h4>
    <hr />
    <div>
        @Html.LabelFor(model => model.MinPostCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MinPostCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MinPostCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.MaxPostCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaxPostCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxPostCode, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
