﻿@model Online_book_shopping.Models.RegistrationTimeStrategy
<script type="text/javascript">
    $(".form_datetime").datepicker({
    });
</script>

<div class="form-group">
    <h4>RegistrationTime</h4>
    <hr />
    <div>
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input size="34" type="text" @*value="10/06/2016"*@ 
                   data-val="true" data-val-required="The StartTime field is required."
                    id="RegistrationTimeStrategy_StartTime" name="RegistrationTimeStrategy.StartTime" 
                   readonly class="form_datetime form-control" required>

            @*@Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input size="34" type="text" @*value="10/06/2016"*@ 
                   data-val="true" data-val-required="The StartTime field is required."
                   id="RegistrationTimeStrategy.EndTime" name="RegistrationTimeStrategy.EndTime" 
                   readonly class="form_datetime form-control" required>

            @*@Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })*@
        </div>
    </div>
</div>
