﻿@model Online_book_shopping.Models.ShoppingHistoryStrategy

<div class="form-group">
    <h4>Shopping History</h4>
    <hr />
    <div>
        @Html.LabelFor(model => model.MinTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MinTotal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MinTotal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.MaxTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaxTotal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaxTotal, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
