﻿@model IEnumerable<Online_book_shopping.Models.Book>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImgURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.OverView)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("BookListItemPartial", item);
    }

</table>