﻿@model Online_book_shopping.Models.Book


    <tr>
        <td>
            <img src="@Model.ImgURL" height="250" />
        </td>
        <td>
            @Html.Raw(Helper.CutTo(Model.Title, 300))
        </td>
        <td>
            @{
                if (Model.Discounts != null && Model.Discounts.Count != 0 && Model.Discounts[0] != null)
                {
                    @Html.Raw("Only <b>");
                    @Html.Raw(( Model.Price * (100 - Model.Discounts[0].DiscountRate) / 100).ToString("c2") );
                    @Html.Raw("</b>\nWas ");
                    @Html.DisplayFor(modelItem => Model.Price);
                    @Html.Raw("\nTake a " + Model.Discounts[0].DiscountRate + "% off!");

                }
                else
                {
                    //@Html.DisplayFor(modelItem => Model.Price)
                    @Html.Raw(Model.Price.ToString("c2"));

                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Category)
        </td>
        <td>
            @Html.Raw(Helper.CutTo(Model.OverView, 300))
            <br/>
            @Html.ActionLink("Details", "Details", new { id = Model.BookID })
        </td>

        <td>
            @*@Html.ActionLink("Delete", "Delete", new { id = Model.BookID })
            @Html.ActionLink("Edit", "Edit", new { id = Model.BookID })*@
            @if (User.IsInRole("Customer"))
            {
                <button id="AddToCart" onclick="AddToMyCart(@Model.BookID)" type="button" class="btn btn-primary btn-lg">Add to Cart</button>
            }

        </td>
    </tr>
