﻿@model IEnumerable<Online_book_shopping.Models.Book>
<script>
   
    
    function AddToMyCart(id)
    {
        
        $("#myCart").load("/Carts/AddRecord/", {BookID : id},function(responseTxt,statusTxt,xhr)
        {
            //alert(responseTxt);
        });
        alert('Book added!');
    }

    function hiliter(word, element) {
        var rgxp = new RegExp(word, 'g');
        var repl = '<mark>' + word + '</mark>';
        return element.replace(rgxp, repl);
        //element.html(element.html().replace(rgxp, repl));
    }

    function Search(event) {
        var text = $(event.target).parent().prev().val()
        //alert(text);
        $("#BookList").load("/Books/Search", { text: text }, function (responseTxt, statusTxt, xhr) {
            responseTxt = hiliter(text, responseTxt);

            $("#BookList").html(responseTxt);
        });
    }
</script>
@using Online_book_shopping
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Staff"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<br/>


<div class="row">
    <div class="col col-sm-4 col-md-3 col-lg-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="Search(event)" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br />

<div id="BookList">
    @Html.Partial("BookListPartial", Model);
</div >

