﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
    background-image:url('Content/background.jpg');
    background-repeat: repeat ;
    background-attachment:fixed;
}
</style>

<div class="jumbotron">
    <br/>
    @*<h1>Online Book Shopping!</h1>*@
    <h1>Welcome To Our Website!</h1>
    <h2>It's Nice To Meet You</h2>

    <p class="lead">
        @*ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.*@
    </p>
    <p>
        @*<a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@
        @*@Html.ActionLink("Go find some books", "Index", "Books", new { @class = "btn btn-primary btn-lg" })*@

        <a href="/Books" class = "btn btn-primary btn-lg">Go find some books</a>

    </p>
</div>
