﻿@model Online_book_shopping.Models.Cart

<script>
    $(document).ready(function () {
        //console.log("ready!");
        CountTotal();
    });

    function CountTotal()
    {
        var total = 0;
        $(".SubTotal").each(function (index, ele) {
            total += parseFloat($(ele).html());
        }
        );
        $("#Total").html(String(total.toFixed(2)))
    }

    function QtyChange(event ,Price, discount)
    {
        var value = $(event.target).val()
        var s = (parseFloat(Price) * parseFloat(value) * (100 -discount) / 100).toFixed(2)
        
        $(event.target).parent().parent().next().children(":first").children(":first").text(String(s));
    
        CountTotal();

    }

    function RemoveRecord(event,BookID)
    {
        //alert("Remove it?");
        if (confirm('Remove it?')) {
            $.ajax({
                type: "POST",
                url: "/Carts/RemoveRecord",
                data: { BookID: BookID },
                success: function (data) {
                    alert("Removed");
                    location.reload();
                }
            });
        } else {
        }

    };
</script>

@{
    ViewBag.Title = "Details";
}

<h2>My Cart</h2>



@using (Html.BeginForm("Confirmed", "Transactions", FormMethod.Post))
{

@Html.AntiForgeryToken()
    <div>

        <dl class="dl-horizontal"></dl>
        <table class="table table-hover">

            @Html.HiddenFor(m => m.CartID)
            <tr>
                <td></td>
                <td class="col col-md-3"><h4>Title</h4></td>
                <td><h4>Quantity</h4></td>
                <td><h4>Sub Total</h4></td>
                <td></td>
            </tr>

            @{
                    for (int i =0; i < Model.Records.Count; i++)
                    {
                        ViewData.TemplateInfo.HtmlFieldPrefix = "Records[" + i.ToString() + "]";
                        @Html.Partial("~/Views/Cart/ListOfRecordCartPartial.cshtml", Model.Records[i])

                }
            }

            <tr>
                <td></td>
                <td><h4></h4></td>
                <td><h2>Total:&emsp; $</h2></td>
                <td><h2 id="Total" align="left"></h2></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><h4></h4></td>
                <td></td>
                <td>
                    @*<button id="ConfirmTransaction" onclick="" type="button" class="btn btn-primary btn-lg">Confirm</button>*@
                    <input type="submit" align="right" class="btn btn-primary btn-lg" value="Confirm" />
                </td>
                <td></td>
            </tr>
        </table>

    </div>


}


@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
