﻿@model IEnumerable<Online_book_shopping.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CartID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CartID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CartID })
        </td>
    </tr>
}

</table>
