﻿@using Microsoft.AspNet.Identity
@using System.Data.Entity;
@using Online_book_shopping.Models;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Customer"))
            {
                <li>
                    <a class="btn dropdown-toggle dropdown " data-toggle="dropdown">
                        My Cart
                        <span class="caret"></span>
                    </a>
                    <ul id="myCart" class="dropdown-menu">
                        @{
                            var dbcontext = new Online_book_shopping.Models.BookShoppingDBContext();
                            var cart = dbcontext.Users
                                .OfType<Customer>()
                                .Include(u => u.Cart)
                                .First(u => u.UserName == User.Identity.Name).Cart;

                            var records = dbcontext.Records
                                .Include(r => r.Book)
                                .Where(r => r.CartID == cart.CartID).ToList();

                            @Html.Partial("~/Views/Cart/CartPartialView.cshtml", cart);
                        }
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("My Transactions", "Index", "Transactions")
                </li>
            }

            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        </ul>
                            }
                        }
                        else
                        {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
