﻿@model Online_book_shopping.Models.Transaction

<script>
    function Withdraw(event, id)
    {
        //alert("Withdraw?");
        if (confirm('Withdraw?')) {
            $.ajax({
                type: "POST",
                url: "/Transactions/Delete",
                data: { id: id },
                success: function (data) {
                    //alert("Removed");
                    //location.reload();
                    top.location.href = '/Transactions/Index';
                }
            });
        } else {
        }

    };
</script>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>Transaction</h4>

<div class="list-group">
    @foreach (var record in Model.Recordes)
    {
        <div class="row list-group-item">
            @Html.Partial("~/Views/Cart/ListOfRecordCart.cshtml", record)
        </div>
    }
</div>
    <div class="row">
        <h4>
            @Html.DisplayNameFor(model => model.ShippingStatus)
            :
            <b>@Html.DisplayFor(model => model.ShippingStatus)</b>
        </h4>
            @if (Model.ShippingStatus == Online_book_shopping.Models.ShippingStatus.Processing)
            {
                @*@Html.ActionLink("Withdraw", "DeleteConfirmed/"+@Model.TransactionID)
                <span onclick="Withdraw(event,@Model.TransactionID )" class="glyphicon glyphicon-remove" style="font-size: 2em"></span>*@
                <a onclick="Withdraw(event,@Model.TransactionID )">
                    <h6>Withdraw</h6>
                    
                </a>
            }
        
    </div>
    <div class="row">
        <h4>
            @Html.DisplayNameFor(model => model.Total)
            : $
            <b>@Html.DisplayFor(model => model.Total)</b>
        </h4>
    </div>
<br />
    @Html.Partial("~/Views/Transactions/PaymentPartial.cshtml", Model.Payment)

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
