﻿@model IEnumerable<Online_book_shopping.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Payment.status)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Payment.PaymentMethod )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payment.status)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Payment.PaymentMethod )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TransactionID })*@
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })*@
        </td>
    </tr>
}

</table>
