﻿@model Online_book_shopping.Models.Payment
@using Online_book_shopping.Models

@if (Model.status == PaymentStatus.Unpaid)

{
    using (Html.BeginForm("PayTransaction", "Transactions", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">        
            <h4><b>Payment</b></h4>
            
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PaymentID)

            <div class="form-group">
                @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.PaymentMethod, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Pay" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

}

else
{

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Payment</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PaymentID)

            <div class="form-group">
                @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DisplayFor(model => model.PaymentMethod)
                </div>
            </div>

            <div class="form-group">
                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.DisplayFor(model => model.status)

                    </div>
                </div>
        </div>
}

