﻿@model Online_book_shopping.Models.Cart

@{
    foreach (var record in Model.Records)
    {
        @Html.Partial("~/Views/Cart/ListOfRecordCart.cshtml", record);

        @*<li>

            <a href="/books/Details/@record.Book.BookID">
                <img src="@record.Book.ImgURL" height="70" />

                <h5 style="display : inline">
                    @Helper.CutTo(record.Book.Title, 40)
                </h5>

            </a>
            <h5 align="right">Quantity : <b> @record.Quantity</b> Price : <b>@record.SubTotal</b> &emsp; &emsp;</h5>

        </li>*@
    }
    <li>
        <br/>
        <a align="right" href="/Carts/Details/@Model.CartID" class="btn pull-right">
            Go to my Cart!
        </a>
    </li>
}
