﻿@model  Online_book_shopping.Models.Record

@* For the cart page *@

<tr>
    @Html.HiddenFor(m => m.RecordID )
    @Html.HiddenFor(m => m.Book.BookID);
    <td>
        <img src="@Model.Book.ImgURL" height="250" />
    </td>
    <td>
        <h5 style="display : inline">
            <a href="/books/Details/@Model.Book.BookID">
                @Html.Raw(Model.Book.Title)
            </a>

        </h5>
    </td>

    <td>
        @*------Quantity*@
        <div>
            <input type="number" onchange="QtyChange(event,@Model.Book.Price, @Model.DiscountRate)" min="1" max="@Model.Book.Stock" step="1" value="@Model.Quantity" name="@String.Concat(ViewData.TemplateInfo.HtmlFieldPrefix, ".Quantity")" />
            <br />
            <h5>Price : <b>@Model.Book.Price</b></h5>
            <h5>Stock : <b>@Model.Book.Stock</b></h5>
            <h5>Discount : <b>@Model.DiscountRate %</b></h5>

        </div>
    </td>

    <td>
        <h4>SubTotal : <b class="SubTotal">@Model.SubTotal</b></h4>
    </td>
    <td>
        <a>
            <span onclick="RemoveRecord(event,@Model.Book.BookID)" class="glyphicon glyphicon-remove" style="font-size: 2em"></span>
        </a>
    </td>
</tr>
