﻿@model Online_book_shopping.Models.Record
@*@model IEnumerable<Online_book_shopping.Models.Record>*@


<li>

    <a href="/books/Details/@Model.Book.BookID">
        <img src="@Model.Book.ImgURL" height="70" />

        <h5 style="display : inline">
            @Helper.CutTo(Model.Book.Title, 40)
        </h5>

    </a>
    <h5 align="right">
        Quantity : <b> @Model.Quantity</b>
        @{
            if (Model.DiscountRate != 0)
            {
                @Html.Raw("Discount: <b> " + @Model.DiscountRate +"% </b>")
            }
        }
        Price : <b>@Model.SubTotal</b> &emsp; &emsp;
    </h5>

</li>

@* For the cart in the nav bar *@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cart.CartID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.CartID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecordID })
        </td>
    </tr>
}

</table>*@


