﻿@model IEnumerable<Online_book_shopping.Models.AccountManagementViewModel>

@{
    ViewBag.Title = "Index";
}

<script>

    function ChangeRole(id, type) {
        $.ajax({
            type: "POST",  
            url: "/Admin/ChangeRole",
            data: {
                UserID: id,
                Type : type
            },
            success: function () {
                location.reload();
                alert("The role of the user has been changed")
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                alert("Failed!") 
            }       
        });
    }
</script>

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserName )
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RegisterTime)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterTime)
        </td>
        <td>
            @if (item.Role == "Customer")
            {
                <button class="btn btn-default" onclick="ChangeRole('@item.ID','ToStaff')" type="button">Authen As Staff</button>
            }

            @if (item.Role == "Staff")
            {
                <button class="btn btn-default" onclick="ChangeRole('@item.ID','ToCustomer')" type="button">Authen As Customer</button>
            }
        </td>
    </tr>
}

</table>
